::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.wrapper {
    display: none;
    /* font-family: 'Roboto Condensed'; */
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
    font-size: 1.2vw;
    -ms-overflow-style: none;
}
a {
    text-decoration: none;
}
.nav a {
    color: white;
    transition: all 0.4s ease-in-out;
}
.nav a:hover {
    color: #19f6e8;
}
.social-icons-div {
    height: 60vh;
    width: 5vw;
    position: fixed;
    left: 2vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.4vw;
}
.social-icon a {
    color: white;
    transition: all 0.2s ease-in-out;
}
.social-icon a:hover {
    color: #19f6e8;
    cursor: pointer;
}
.email-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    position: fixed;
    bottom: 0;
    right: 2vw;
    height: 50vh;
}
.email-text a {
    writing-mode: vertical-rl;
    color: white;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    font-family: 'Fira Code', monospace;
    transition: all 0.5s ease-in-out;
}
.email-text a:hover {
    cursor: pointer;
    color: #19f6e8;
}
.line-div {
    width: 3vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 0.1vw;
    height: 15vh;
    background-color: white;
}
.intro-page {
    height: 110vh;
    display: flex;
    flex-direction: column;
}
.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 10vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-div {
    font-family: 'Fira Code', monospace;
    width: 3vw;
    height: 6vh;
    border: 0.1vw solid #19f6e8;
    font-size: 1.4vw;
    color: #0dcfc2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.logo-div:hover {
    background-color: #242424;
    border: 0.1vw solid white;
    color: white;
}
.nav {
    margin-right: 10vw;
    width: 35vw;
    display: flex;
    justify-content: space-around;
    font-size: 1vw;
    font-family: 'Fira Code', monospace;
}
.navcon {
    color: white;
    transition: all 0.5s ease-in-out;
}
.nav-number {
    color: #19f6e8;
}
.navcon:hover {
    cursor: pointer;
    color: #19f6e8;
}
.intro-content {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20vw;
}
.name-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.hi-text , .intro-para {
    color: white;
    font-size: 1.2vw;
    align-self: flex-start;
    font-family: 'Fira Code', monospace;
}
.intro-para {
    width: 36vw;
    text-align: justify;
}
.name {
    color: #19f6e8;
    font-size: 7.674vw;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}
.button-div {
    width: 36vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 7vh;
}
.hire-button {
    width: 14vw;
    height: 8vh;
    font-size: 1vw;
    color: #19f6e8;
    font-family: 'Fira Code', monospace;
    letter-spacing: 0.1vw;
    border: 0.1vw solid #19f6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3vw;
    background-color: #19f6e703;
    transition: all 0.5s ease-in-out;
}
.hire-button:hover {
    cursor: pointer;
    background-color: #19f6e721;
    color: #2afff1;
}
.second-page {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-div {
    width: 35vw;
    display: flex;
    flex-direction: column;
}
.about-heading-div {
    font-family: 'Fira Code', monospace;
    color: white;
    font-size: 1.5vw;
    height: 10vh;
    display: flex;
    align-items: center;
}
.about-number {
    color: #19f6e8;
    font-size: 1vw;
}
.about-heading-line {
    display: inline-block;
    width: 12vw;
    height: 0.16vh;
    background-color: rgba(226, 226, 226, 0.644);
}
.about-para-div {
    font-size: 1vw;
    width: 30vw;
    color: rgba(226, 226, 226, 0.644);
    text-align: justify;
    letter-spacing: 0.05vw;
}
.skills-line {
    font-size: 1vw;
    width: 30vw;
    color: rgba(226, 226, 226, 0.644);
    text-align: justify;
    letter-spacing: 0.05vw;
}
.skills-table {
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills-table-row-1 , .skills-table-row-2 {
    width: 12vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill-div {
    width: 15vw;
    height: 4vh;
    font-size: 1vw;
    font-family: 'Fira Code', monospace;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.skill-arrow {
    color: #19f6e8;
}
.whatido-div {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.webdevelopment-div , .uidesign-div , .experiencedesign-div {
    width: 30vw;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.heading-icon {
    width: 6vw;
    height: 10vh;
    border: 0.1vw solid #19f6e8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0dcfc2;
    font-size: 1.5vw;
    transition: all 0.5s ease-in-out;
}
.heading-icon:hover {
    cursor: pointer;
    background-color: #242424;
    color: white;
    border: 0.1vw solid white;
}
.fas , .fab{
    transition: all 0.8s ease-in-out;
}
.heading-icon:hover .fas , .heading-icon:hover .fab {
    transform: rotate(360deg);
}
.skill-text {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.skill-text-heading {
    width: 15vw;
    height: 3vh;
    color: #19f6e8;
    font-size: 1.2vw;
    font-family: 'Fira Code', monospace;
}
.skill-text-details {
    width: 25vw;
    height: 15vh;
    font-size: 1vw;
    color: rgba(226, 226, 226, 0.644);
    text-align: justify;
}
.third-page {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 15vh; */
}
.column-1 {
    width: 35vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.experience-div {
    width: 35vw;
    height: 30vh;
}
.experience-heading {
    font-family: 'Fira Code', monospace;
    color: white;
    font-size: 1.5vw;
    height: 10vh;
    display: flex;
    align-items: center;
}
.experience-text {
    font-size: 1vw;
    width: 30vw;
    color: rgba(226, 226, 226, 0.644);
    text-align: justify;
    letter-spacing: 0.05vw;
}
.development-div {
    width: 35vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.development-heading {
    color: #19f6e8;
    font-family: 'Fira Code', monospace;
    font-size: 1.2vw;
}
.development-circles-div {
    width: 35vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.development-circles-row {
    width: 30vw;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.development-circle {
    width: 6vw;
    height: 12vh;
    border: 0.1vw solid rgba(226, 226, 226, 0.644);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
    color: white;
    transition: all 0.5s ease-in-out;
}
.development-circle:hover {
    color: #19f6e8;
    border: 0.1vw solid #19f6e8;
    background-color: #242424;
    cursor: pointer;
}
.column-2 {
    width: 35vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skills-list-div {
    width: 35vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skill-list {
    /* width: 8vw; */
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.skill-list-heading {
    font-size: 1.2vw;
    font-family: 'Fira Code', monospace;
    color: #19f6e8;

}
.skill-list-text {
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: rgba(226, 226, 226, 0.644);
    font-size: 1vw;
}
.skills-logos-div {
    width: 35vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.skills-logo-row {
    width: 40vw;
    display: flex;
    justify-content: space-around;
}
.skill-logo {
    width: 5vw;
    height: 9vh;
    filter: grayscale(100%);
    /* transition: all 0.4s ease-in-out; */
    animation: lightonoff 2s ease-in-out infinite;
}
/* .skill-logo:hover {
    cursor: pointer;
    filter: none;
} */
.uconnect-page {
    height: 110vh;
}
.uconnect-image {
    width: 50vw;
}
.contact-page {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contact-form-div {
    width: 35vw;
    height: 75vh;
}
.contact-pic {
    width: 30vw;
    height: 60vh;
}
.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.198);
    -webkit-box-shadow: 0px 20px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 22px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 22px -1px rgba(0,0,0,0.75);
    z-index: 100;
    cursor: pointer;
}
.black-image {
    width: 20vw;
    z-index: -1;
}
.image-div:hover .black-image {
    z-index: 1000;
}
.blue-borders {
    width: 20vw;
    height: 60vh;
    position: absolute;
    border: 0.1vw solid #19f6e8;
    top: 24vh;
    right: 12vw;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}
.blue-borders:hover {
    top: 20vh;
    right: 14vw;
}
.contact-me-page {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-me-heading-div {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 2.5vw;
    font-weight: bolder;
    letter-spacing: 0.2vw;
}
.contact-me-form-div {
    height: 90vh;
    width: 100vw;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
.contact-form {
    margin-left: 10vw;
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-line {
    font-size: 1vw;
    font-weight: normal;
    font-family: 'Fira Code', monospace;
    letter-spacing: 0;
}
#name , #email , #textarea {
    border: none;
    border-bottom: 0.1vw solid white;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 1vw;
    color: white;
    font-size: 1.2vw;
}
#name {
    font-weight: bolder;
    letter-spacing: 0.1vw;
}
#name:focus , #email:focus , #textarea:focus {
    outline: 0.1vw solid white;
}
#name::placeholder , #email::placeholder , #textarea::placeholder {
    color: rgba(226, 226, 226, 0.644);
    font-family: 'Fira Code', monospace;
    font-weight: normal;
}
#textarea {
    resize: none;
    font-family: 'Roboto Condensed', sans-serif;
}
#submitbutton {
    width: 10vw;
    height: 6vh;
    border: none;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    border: 0.1vw solid white;
    border-radius: 0.1vw;
    align-self: flex-end;
    transition: all 0.5s ease-in-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.1vw;
    font-size: 1.2vw;
}
#submitbutton:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
.footer-div {
    height: 35vh;
    background-color: rgba(226, 226, 226, 0.644);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.footer-icons-div {
    width: 29vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}
.footercon {
    background-color: #141414;
    height: 8vh;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: white;
    font-size: 1.5vw;
}
.f-git:hover {
    background-color: rgb(32, 182, 67);
    color: white;
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.f-linkedin:hover {
    background-color: #0077B5;
    color: white;
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.f-codepen:hover {
    background-color: white;
    color: black;
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.f-twitter:hover {
    background-color: #15202B;
    color: #1A91DA;
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.f-instagram:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.f-facebook:hover {
    background-color: #4267B2;
    color: white;
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.f-mail:hover {
    background-color: #DB4437;
    color: #E6E6E6;
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.copyrights {
    font-style: italic;
    font-style: 1vw;
    font-family: 'Fira Code', monospace;
    font-weight: bolder;
}
.work-page-header-div {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-heading-div {
    width: 35vw;
    height: 10vh;
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}
.working-platforms-div {
    width: 35vw;
    height: 10vh;
}
.work-showcase-div {
    margin-top: 15vh;
}
.work-showcase-image-div {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-showcase-image {
    width: 50vw;
    height: 60vh;
}
.work-showcase-image-booking {
    width: 35vw;
    height: 60vh;
}
.work-showcase-details {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-showcase-details-header {
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-showcase-name {
    width: 14vw;
    height: 8vh;
    color: #19f6e8;
    font-size: 1.5vw;
    font-weight: bolder;
    letter-spacing: 0.1vw;
    border-bottom: 0.1vw solid #19f6e8;
    background-color: #19f6e703;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-showcase-buttons {
    width: 24vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-showcase-button {
    width: 10vw;
    height: 6vh;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid rgba(226, 226, 226, 0.644);
    color: rgba(226, 226, 226, 0.644);
    transition: all 0.5s ease-in-out;
}
.work-showcase-button:hover {
    background-color: rgba(226, 226, 226, 0.644);
    color: #141414;
    cursor: pointer;
}
.work-showcase-details-para {
    width: 80vw;
    height: 15vh;
    color: rgba(226, 226, 226, 0.644);
    text-align: justify;
    display: flex;
    align-items: center;
}
.work-showcase-details-para-alifinance {
    width: 80vw;
    height: 15vh;
    color: rgba(226, 226, 226, 0.644);
    text-align: justify;
    padding-top: 5vh;
}
#teamaliflink {
    color: #19f6e8;
}
.work-showcase-details-techs {
    width: 80vw;
    height: 5vh;
    display: flex;
    justify-content: start;
    align-items: center;
}
.work-showcase-tech {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    margin-left: 2vw;
    font-size: 0.8vw;
    color: rgba(226, 226, 226, 0.644);
    background-color: #333333;
    border-radius: 0.2vw;
    padding: 0.8vw;
}
.morework-div {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgba(226, 226, 226, 0.644);
    font-size: 1vw;
}
.morework-github {
    color: rgba(226, 226, 226, 0.644);
    font-size: 5vw;
    transition: all 0.3s ease-in-out;
}
.morework-github:hover {
    cursor: pointer;
    color: rgba(226, 226, 226, 0.842);
}


@keyframes lightonoff {
    100% {
        filter: none;
    }
}

@media only screen and (max-width: 768px) {


    .social-icons-div {
        font-size: 2.4vw;
    }
    .email-text a {
        font-size: 1.5vw;
    }

    .logo-div {
        width: 4vw;
        font-size: 1.8vw;
    }

    .nav {
        font-size: 1.3vw;
        width: 40vw;
    }

    .hi-text , .intro-para {
        font-size: 1.4vw;
    }

    .hire-button {
        font-size: 1.3vw;
    }

    .heading-icon {
        width: 8vw;
        font-size: 2vw;
    }

    .skill-text-heading {
        font-size: 1.5vw;
        width: 18vw;
    }
    .skill-text-details {
        font-size: 1.3vw;
    }

    .about-para-div {
        font-size: 1.3vw;
    }
    .skills-line {
        font-size: 1.3vw;
    }
    .skill-div {
        font-size: 1.1vw;
    }

    .skill-list-heading {
        font-size: 1.3vw;
    }
    .skill-list-text {
        font-size: 1.1vw;
    }
    .experience-text {
        font-size: 1.3vw;
    }

    .development-heading {
        font-size: 1.3vw;
    }
    .development-circle {
        font-size: 1.1vw;
    }

    .work-showcase-details-para {
        font-size: 1.2vw;
    }
    .work-showcase-tech {
        font-size: 1vw;
    }

    .contact-line {
        font-size: 1.1vw;
    }
}


@media only screen and (max-width: 468px) {

    .nav {
        display: none;
    }
    .social-icons-div {
        display: none;
    }
    .email-div {
        display: none;
    }


    .logo-div {
        width: 10vw;
        margin-left: 10vw;
        font-size: 4vw;
        border: 0.3vw solid #19f6e8;
    }

    .intro-content {
        padding: 0;
        padding-left: 05vw;
    }

    .hi-text , .intro-para {
        width: 80vw;
        font-size: 3.4vw;
        display: flex;
        justify-content: flex-start;
    }
    .name {
        font-size: 12vw;
    }
    .name-text {
        height: 22vh;
        justify-content: space-around;
    }

    .button-div {
        width: 80vw;
    }
    .hire-button {
        width: 40vw;
        font-size: 4vw;
        border: 0.2vw solid #19f6e8;
        border-radius: 0.5vw;
    }

    .second-page {
        height: 140vh;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-div {
        width: 90vw;
    }
    .about-heading-div {
        font-size: 4.5vw;
    }
    .about-number , .skills-line {
        font-size: 3vw;
    }
    .about-para-div , .skills-line {
        width: 90vw;
        font-size: 3.5vw;
    }
    .skills-table {
        width: 80vw;
    }
    .skills-table-row-1 , .skills-table-row-2 {
        width: 35vw;
    }
    .skill-div {
        width: 40vw;
        font-size: 3vw;
    }

    .whatido-div {
        width: 90vw;
    }
    .webdevelopment-div, .uidesign-div, .experiencedesign-div {
        width: 90vw;
    }

    .heading-icon {
        border: 0.3vw solid #19f6e8;
        width: 12vw;
        height: 6vh;
        font-size: 3vw;
    }
    .skill-text {
        justify-content: space-between;
        height: 20vh;
    }
    .skill-text-heading {
        width: 50vw;
        height: 6vh;
        font-size: 3.5vw;
        display: flex;
        align-items: center;
    }
    .skill-text-details {
        width: 50vw;
        font-size: 3vw;
    }

    .third-page {
        height: 130vh;
        flex-direction: column;
        justify-content: space-between;
    }

    .column-1 {
        width: 90vw;
        height: 60vh;
    }
    .experience-div {
        width: 90vw;
        height: 25vh;
    }
    .experience-heading {
        font-size: 4.5vw;
    }
    .experience-text {
        width: 90vw;
        font-size: 3vw;
    }
    .development-div {
        width: 90vw;
        height: 30vh;
    }
    .development-heading {
        font-size: 3.5vw;
    }
    .development-circles-div {
        width: 90vw;
        height: 25vh;
    }
    .development-circles-row {
        width: 80vw;
    }
    .development-circle {
        width: 14vw;
        height: 7vh;
        border: 0.3vw solid;
        font-size: 2.5vw;
    }
    .column-2 {
        width: 90vw;
        height: 60vh;
    }
    .skills-list-div {
        width: 90vw;
    }
    .skill-list {
        width: 30vw;
        height: 25vh;
    }
    .skill-list-heading {
        font-size: 3.5vw;
    }
    .skill-list-text {
        font-size: 2.8vw;
    }
    .skills-logos-div {
        width: 90vw;
        height: 20vh;
        flex-direction: column;
    }
    .skills-logo-row {
        width: 90vw;
    }
    .skill-logo {
        width: 12vw;
        height: 6vh;
    }
    .work-page {
        margin-top: 8vh;
    }
    .work-heading-div {
        font-size: 4.5vw;
        width: 90vw;
    }
    .working-platforms-div {
        width: 0;
    }
    .work-showcase-div {
        margin-top: 0;
    }
    .work-showcase-image-div {
        width: 100vw;
        height: 45vh;
    }
    .work-showcase-image {
        width: 90vw;
        height: 35vh;
    }
    .work-showcase-name {
        width: 25vw;
        height: 6vh;
        font-size: 3.2vw;
        border-bottom: 0.3vw solid #19f6e8;
    }
    .work-showcase-buttons {
        width: 32vw;
    }
    .work-showcase-button {
        width: 14vw;
        font-size: 3vw;
        height: 4vh;
    }
    .work-showcase-details-para {
        font-size: 3vw;
    }
    .work-showcase-tech {
        font-size: 2vw;
    }
    .work-showcase-details-para-alifinance {
        padding-top: 2vh;
        font-size: 3vw;
    }
    .work-showcase-image-booking {
        width: 90vw;
        height: 35vh;
    }
    .morework-div {
        width: 90vw;
        font-size: 3.2vw;
        margin-left: 5vw;
    }
    .morework-github {
        font-size: 12vw;
    }

    .contact-me-page {
        height: 55vh;
    }

    .contact-me-heading-div {
        font-size: 4.5vw;
    }
    .contact-line {
        font-size: 2.8vw;
    }
    .contact-me-form-div {
        width: 100vw;
        height: 35vh;
        background-size: contain;
    }
    .contact-form {
        height: 35vh;
        width: 50vw;
        margin-left: 5vw;
    }
    #name , #email {
        height: 4vh;
        font-size: 3.5vw;
        border-bottom: 0.3vw solid white;
        padding: 2vw;
    }
    #textarea {
        font-size: 3.5vw;
        border-bottom: 0.3vw solid white;
        padding: 2vw;
        height: 13vh;
    }
    #submitbutton {
        height: 3vh;
        width: 15vw;
        border: 0.3vw solid white;
        font-size: 3vw;
        border-radius: 0.3vw;
    }
    .footer-div {
        height: 20vh;
    }
    .footer-icons-div {
        margin-top: 4vh;
        width: 80vw;
    }
    .footercon {
        width: 10vw;
        height: 5vh;
        font-size: 3.5vw;
    }
    .copyrights {
        font-size: 3vw;
    }

}